.container 
{
display: flex;
height: 600px;
width: 1000px;
background-color: lightgray;
border : 2px solid black;
flex-direction: row; 
flex-wrap: wrap;
justify-content: center;
align-items:center;
}
.item
{
    height: 100px;
    width: 300px;
    border: 1px solid rgb(0, 0, 0);
    background-color: beige;
    text-align: center;
    margin: 10px;
    align-content: center;
}