.container
{
    display: grid;
   height: 500px;
   width: 1000px;
   background-color: lightgrey;
   border: 2px solid black;
   padding: 10px;
   justify-items: center;
   justify-content: space-around;
   align-items: center;
   /* grid-template-columns: 1fr 1fr 1fr; */
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(3, 1fr);
   /* grid-template-areas: "header header header header"
   "main main . sidebar""footer footer footer footer"; */
   grid-auto-columns: 60px;
   

}
.item{
    border: 2px solid black;
    background-color: lightblue;
    height: 100px;
    width: 100px; 
    padding: 10px;
}
/* .item1
{
    grid-area: header;
}
.item2
{
    grid-area: main;
}
.item3
{
    grid-area: sidebar;
}
.item4
{
    grid-area: footer;
}
 */